/* ==UserStyle==
@name           GruvBox - Gmail
@namespace      github.com/Xedecimal/userstyles
@version        1.1.7
@description    Gmail... Gruvbox style.
@preprocessor   stylus
@author         Xedecimal
@license        WTFPL
@updateURL      https://raw.githubusercontent.com/Xedecimal/userstyles/master/gruvbox-gmail.user.styl
@homepageURL    https://github.com/Xedecimal/userstyles
@var color color-text           "Text"                  #282828
@var color color-back           "Background"            #fbf1c7

==/UserStyle== */

@-moz-document domain("mail.google.com")
    body()
        background: color-back
        color: color-text

    body, input, .aAT, .aAU, .w-asV.aiw, .nH .if, .nH .bkL, .aeJ, .yO, .bhZ.bym, .bhZ.bjB, .IG, .GQ, .Ap, .aoP .Ar, .Am, .aDg>.aDj, .iY .Bu, .aaZ, .vO
        body()

    .bAw .brC-aT5-aOt-Jw, .aoT, .aeH, .G-atb
        body()
