/* ==UserStyle==
@name tg gruvbox light
@namespace      github.com/Xedecimal/userstyles
@version      0.0.1
@preprocessor stylus
==/UserStyle== */

@-moz-document domain("web.telegram.org") {
  :root {
    --gruvbox-light-fg0: #282828;
    --gruvbox-light-fg1: #3c3836;
    --gruvbox-light-fg2: #504945;
    --gruvbox-light-bg: #fbf1c7;
    --gruvbox-light-bg0-h: #f9f5d7;
    --gruvbox-light-bg1: #ebdbb2;
    --gruvbox-light-bg2: #d5c4a1;
    --gruvbox-light-aqua-6: #689d6a;
    --gruvbox-light-blue-4: #458588;
    --gruvbox-light-blue-12: #076678;
    --gruvbox-light-red-1: #cc241d;
    --gruvbox-light-red-9: #9d0006;
    --gruvbox-light-gray-7: #7c6f64;
    --gruvbox-light-gray-8: #928374;

    --body-background-color: var(--gruvbox-light-bg)
    --background-color-true: var(--gruvbox-light-bg)
    --surface-color: var(--gruvbox-light-bg)
    --input-search-background-color: var(--gruvbox-light-bg)
    --primary-text-color: var(--gruvbox-light-fg0)
    --badge-text-color: var(--gruvbox-light-fg0)
    --secondary-color: var(--gruvbox-light-bg1)
    --light-filled-message-primary-color: var(--gruvbox-light-bg0-h)
    --message-highlightning-color:  var(--gruvbox-light-bg2) !important
  }
}
