/* ==UserStyle==
@name twitter gruvbox light
@version      0.0.1
@preprocessor stylus
==/UserStyle== */

@-moz-document domain("twitter.com") {
  html {
    --gruvbox-light-fg0: #282828;
    --gruvbox-light-fg1: #3c3836;
    --gruvbox-light-fg2: #504945;
    --gruvbox-light-bg: #fbf1c7;
    --gruvbox-light-bg0-h: #f9f5d7;
    --gruvbox-light-bg1: #ebdbb2;
    --gruvbox-light-bg2: #d5c4a1;
    --gruvbox-light-aqua-6: #689d6a;
    --gruvbox-light-blue-4: #458588;
    --gruvbox-light-blue-12: #076678;
    --gruvbox-light-red-1: #cc241d;
    --gruvbox-light-red-9: #9d0006;
    --gruvbox-light-gray-7: #7c6f64;
    --gruvbox-light-gray-8: #928374;
  }
  body {
    background-color: var(--gruvbox-light-bg) !important;
  }
  *[aria-label="Home timeline"],
  *[aria-label="Timeline: Trending now"],
  *[aria-label="Who to follow"] {
    background-color: var(--gruvbox-light-bg);
  }
  *:has(*>*>*[aria-label="Home timeline"]),
  *:has(*>*>*[aria-label="Timeline: Trending now"]),
  *:has(*>*>*[aria-label="Who to follow"]) {
    background-color: var(--gruvbox-light-bg);
    border-color: var(--gruvbox-light-bg0-h);
  }
  *[aria-label="Trending"]>div:first-child>div:first-child {
    background-color: var(--gruvbox-light-bg);
  }
  *[aria-label="Home timeline"]>div:nth-child(3) {
    background-color: var(--gruvbox-light-bg);
  }

}
