/* ==UserStyle==
@name yt gruvbox light
@namespace    gist.github.com/hell10w/836f5ee0f08cd2821ec999541ec6a6ce
@version      0.0.1
@preprocessor stylus
==/UserStyle== */

@-moz-document domain("youtube.com") {
  html {
    --gruvbox-light-fg0: #282828;
    --gruvbox-light-fg1: #3c3836;
    --gruvbox-light-fg2: #504945;
    --gruvbox-light-bg: #fbf1c7;
    --gruvbox-light-bg0-h: #f9f5d7;
    --gruvbox-light-bg1: #ebdbb2;
    --gruvbox-light-bg2: #d5c4a1;
    --gruvbox-light-aqua-6: #689d6a;
    --gruvbox-light-blue-4: #458588;
    --gruvbox-light-blue-12: #076678;
    --gruvbox-light-red-1: #cc241d;
    --gruvbox-light-red-9: #9d0006;
    --gruvbox-light-gray-7: #7c6f64;
    --gruvbox-light-gray-8: #928374;
    --yt-spec-base-background: var(--gruvbox-light-bg);
    --yt-spec-raised-background: var(--gruvbox-light-bg);
    --yt-spec-menu-background: var(--gruvbox-light-bg);
    --yt-spec-brand-background-solid: var(--gruvbox-light-bg);
    --yt-spec-brand-background-primary: var(--gruvbox-light-bg);
    --yt-spec-brand-background-secondary: var(--gruvbox-light-bg);
    --yt-spec-general-background-a: var(--gruvbox-light-bg);
    --yt-spec-general-background-b: var(--gruvbox-light-bg);
    --yt-spec-general-background-c: var(--gruvbox-light-bg);
    --ytd-searchbox-background: var(--gruvbox-light-bg);
    --yt-spec-static-brand-white: var(--gruvbox-light-bg);
    --yt-spec-themed-overlay-background: var(--gruvbox-light-bg);
    --yt-spec-filled-button-text: var(--gruvbox-light-bg);
    --ytd-searchbox-legacy-button-color: var(--gruvbox-light-bg);
    --yt-spec-white-1: var(--gruvbox-light-bg);
    --yt-spec-white-2: var(--gruvbox-light-bg);
    --yt-spec-white-3: var(--gruvbox-light-bg);
    --yt-live-chat-banner-gradient-scrim: var(--gruvbox-light-bg);
    --yt-live-chat-vem-background-color: var(--gruvbox-light-bg0-h);
    --yt-spec-suggested-action: var(--gruvbox-light-bg0-h);
    --yt-spec-themed-blue: var(--gruvbox-light-blue-4);
    --yt-spec-call-to-action: var(--gruvbox-light-blue-12);
    --yt-spec-brand-button-background: var(--gruvbox-light-red-1);
    --yt-spec-static-overlay-background-brand: var(--gruvbox-light-red-1);
    --ytd-searchbox-legacy-border-color: var(--gruvbox-light-gray-8);
    --ytd-searchbox-legacy-button-border-color: var(--gruvbox-light-gray-8);
    --light-theme-divider-color: var(--gruvbox-light-gray-8);
  }
  ytd-playlist-panel-video-renderer[selected][use-color-palette], ytd-playlist-panel-video-renderer[selected][use-color-palette]:hover:not(.dragging) {
    --yt-active-playlist-panel-background-color: var(--gruvbox-light-bg1) !important;
  }
  .sbsb_a, .sbfl_b {
  	background-color: var(--gruvbox-light-bg);
  }
  body::-webkit-scrollbar-track,
  body::-webkit-scrollbar,
  body::-webkit-scrollbar-thumb,
  body::-webkit-scrollbar-thumb:hover {
  	background-color: var(--gruvbox-light-bg);
  }
  body::-webkit-scrollbar {
    width: 15px;
  }
  #item-scroller.yt-live-chat-item-list-renderer::-webkit-scrollbar-thumb {
  	background-color: var(--gruvbox-light-bg1);
  }
  #item-scroller.yt-live-chat-item-list-renderer::-webkit-scrollbar {
    width: 10px;
  }
}
