/* ==UserStyle==
@name yt gruvbox light
@namespace    gist.github.com/hell10w/836f5ee0f08cd2821ec999541ec6a6ce
@version      0.0.1
@preprocessor stylus
==/UserStyle== */

@-moz-document domain("youtube.com") {
  html {
    --gruvbox-light-bg: #fbf1c7;
    --gruvbox-light-bg0-h: #f9f5d7;
    --yt-spec-base-background: var(--gruvbox-light-bg);
    --yt-spec-raised-background: var(--gruvbox-light-bg);
    --yt-spec-menu-background: var(--gruvbox-light-bg);
    --yt-spec-brand-background-solid: var(--gruvbox-light-bg);
    --yt-spec-brand-background-primary: var(--gruvbox-light-bg);
    --yt-spec-brand-background-secondary: var(--gruvbox-light-bg);
    --yt-spec-general-background-a: var(--gruvbox-light-bg);
    --yt-spec-general-background-b: var(--gruvbox-light-bg);
    --yt-spec-general-background-c: var(--gruvbox-light-bg);
    --ytd-searchbox-background: var(--gruvbox-light-bg);
    --yt-spec-static-brand-white: var(--gruvbox-light-bg);
    --yt-spec-themed-overlay-background: var(--gruvbox-light-bg);
    --yt-spec-filled-button-text: var(--gruvbox-light-bg);
    --ytd-searchbox-legacy-button-color: var(--gruvbox-light-bg);
    --yt-spec-white-1: var(--gruvbox-light-bg);
    --yt-spec-white-2: var(--gruvbox-light-bg);
    --yt-spec-white-3: var(--gruvbox-light-bg);
    --yt-live-chat-banner-gradient-scrim: var(--gruvbox-light-bg);
    --yt-live-chat-vem-background-color: var(--gruvbox-light-bg0-h);
  }
  body::-webkit-scrollbar-track,
  body::-webkit-scrollbar,
  body::-webkit-scrollbar-thumb,
  body::-webkit-scrollbar-thumb:hover {
  	background-color: var(--gruvbox-light-bg);
  }
  body::-webkit-scrollbar {
    width: 15px;
  }
}
